<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>    
    <body>
        {{> header}}
        
        {{!-- Handlebar helpers func, passing arg to helper func --}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>